body {
	padding-top: 20px;
	padding-bottom: 20px;
}
th {
	display: inline;
}
tr {
	display: inline;
}
table{
	height:600px; 
	width: 280px;
}
tbody{
	overflow-y: scroll;
	height: 400px;
	width: 280px;
	position: absolute;
}
.time{
	min-width: 30px;
}
.date{
	min-width: 90px;
}
.offense{
	min-width: 100px;
}
.map-container {
	width: 100%;
	min-width: 40%;
	height: 500px;
}
.panel {
	width: 280px;
}
.navbar {
	margin-bottom: 20px;
}
.panel-body{
	height: 450px;
}
.input-group .search-bar {
	width: 380px !important;
	height: 28px !important;
	margin-top: 3px;
	margin-bottom: 0px;
}
#search-button {
	height: 28px;
	width: 30px;
	margin-top: 3px;
	margin-bottom: 0px;
}
i {
	position: absolute;
	left: 5px;
	bottom: 5px;
}
#about{
	margin-top: 5px;
}
/********************************************************************/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
	text-align:center;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
	height: 500px;
}

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}

.loginButtons{
	color: #777;
	text-align:right;
	margin-top: 12px;
	margin-right: 10px;
}
/********************************************************************/
