/* structure */
body {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EEEEEE;
	/*background: url("/greybackground2.jpg");
	background-size: 100% 200%;
	background-repeat: no-repeat;*/
	padding-left: 0px;
	padding-right: 0px;
}
#body.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#controlpanel.panel.with-nav-tabs.panel-default {
	margin-right: 0px !important;
}
th {
	display: inline;
}
tr {
	display: inline;
}
table{
	height:600px; 
	width: 270px;
}
#datatab {
	width:75px;
}
#analtab {
	width:90px;
}
#imptab {
	width:113px;
}
tbody{
	overflow-y: scroll;
	height: 500px;
	width: 275px;
	position: absolute;
}
i {
	position: absolute;
	left: 5px;
	bottom: 5px;
}
form input {
	height: 28px !important;
}
#dateSelect1 .dropdown-menu, #dateSelect2 .dropdown-menu {
	height: 230px !important;
	width: 203px !important;
}
#main {
	/*margin-left: 0px !important;
	padding-left: 0px !important;
	margin-top: 0px;
	padding-right: 0px;
	margin-right: 5px !important;
	width: 100% !important;*/
}
#body {
	/*margin-left: 5px;
	margin-right: 5px;
	padding-left: 0px;
	padding-right: 0px;*/
}
#panelcol {
	/*padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px !important;*/
	/*width: 313px !important;*/
}
#mapcol {
	/*padding-right: 0px !important;
	padding-left: 0px !important;
	width: 75%;*/
}
.row {
	/*margin-right: 0px !important;
	margin-left: 0px !important;*/
}
#mainnav {
	width: 100%;
}
#controlpanel {
	margin-right: 0px !important;
	width: 300px;
}

/* general */
.wrapper {
	position: relative;
}

/* data */
.time{
	min-width: 30px;
}
.date{
	min-width: 50px;
}
.offense{
	min-width: 100px;
}

/* impressions */
#impressiontext {
	margin-bottom: 0px;
}
#impressioninput {
	height: 28px;
}
#impression-button {
	height: 28px;
	margin-bottom: 10px;
}
#plusicon {
	margin-left: 241px;
	margin-bottom: 69px;
}
.imp-panel-body {
	height: 130px;
	overflow-y: scroll;
}

/* map */
.map-container {
	width: 100%;
	height: 600px;
}

/* go */
#submitButton {
	padding-top: 9px;
	margin-bottom: 0px;
	height: 28px;
	width: 50px;
}
#goForm {
	margin-bottom: 50px;
	height: 10px;
}
#go {
	height: 20px !important; 
	margin-bottom: 0px !important;
}

/* search bar */
.search-bar {
	width: 158px !important;
	height: 30px !important;
	margin-top: 2px;
	margin-bottom: 1px;
}
#searchbarid {
	width: 163px !important;
}
#search-button {
	height: 28px;
	width: 22px;
	margin-top: 1px;
	margin-bottom: 1px;
}
#defaultoption {
	color: #289464;
}
.fa-location-arrow {
	margin-left: -1px;
}

/* navbar buttons */
#about {
	padding-top: 5px;
	padding-right: 13px;
}
#contact {
	padding-top: 5px;
}
#login {
	margin-top: 10px;
	margin-right: 20px;
}

#logoutlink {
	padding-top: 15px;
	padding-right: 30px;
}

div.logintext {
	color: red;
}

/* navbar - lots of redundancy */
.panel {
	width: 280px;
}
.navbar {
	margin-bottom: 5px;
	height: 20px !important;
	background-color: #C6D8F5;
}

.navbar-header {
	width: 85px;
}

.panel-body{
	height: 550px;
}
.imp-panel-body{
	height: 450px;
	margin-bottom: 10px;
}
.navbar-left {
	margin-right: 0px !important;
}
.navbar-brand {
	color: black !important;
	font-family: "Times New Roman";
}

#menuLogin {
	padding-top: 5px;
	color: black;
	padding-right: 10px;
}

#navLogin {

}

/* date selection */
.form-inline {
	display: inline;
}
.datetimepicker1, .datetimepicker2 {
	padding-top: 5px;
}
#calendarIcon1, #calendarIcon2 {
	padding-left: 85px;
	margin-bottom: 3px;
	width: 28px;
}
#calendarinput1, #calendarinput2 {
	height: 28px !important;
	width: 111px !important;
}

#dateSelect1, #dateSelect2 {
	width: 118px !important;
	height: 10px;
	padding-top: 5px;
	padding-right: 3px;
}

.errorMsg {
	margin-top: 15px !important;
	color: red;
}

.logo {
	margin-top: 3px;
	width: 40px;
	height: 40px;
}

/* analytics */
#chartTitle {
	font-size: 110%;
	text-align: center;
	margin-top: 5px;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend li{
	list-style: none;
}

/********************************************************************/

.panel.with-nav-tabs .panel-heading{
	background-color: #C6D8F5; 
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
	text-align:center;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
	height: 100%;
}

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}

.loginButtons{
	color: #777;
	text-align:right;
	margin-top: 12px;
	margin-right: 0px;
}

/********************************************************************/

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/********************************************************************/


